<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Display welcome message with the username -->
<!-- <div *ngIf="username" class="alert alert-info d-flex justify-content-between align-items-center">
  <span>Welcome, {{ username }}.</span>
  <button class="btn btn-danger" (click)="onLogout()">
    <!-- <i class="fas fa-sign-out-alt"></i> Logout -->
    <!-- <i class="fa fa-power-off"></i>Logout
  </button>
</div> -->
<div *ngIf="username" class="custom-header d-flex justify-content-between align-items-center">
  <span>Welcome to LIMS</span>

  <!-- Bootstrap Dropdown -->
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-user"></i> {{ username }}
    </button>
    
    <ul class="dropdown-menu" aria-labelledby="userDropdown">
      <li>
        <button class="dropdown-item text-danger" (click)="onLogout()">
          <i class="fa fa-power-off"></i> Logout
        </button>
      </li>
    </ul>
  </div>
</div>

<app-sidenav-bar></app-sidenav-bar>

<div class="container-fluid">
  <div class="row align-items-center mb-7">
    <div class="col-md-11">
      <label id="countrylistlbl" for="countrylist" class="form-label">
        <h3>Country List</h3>
      </label>
    </div>
    <div class="col-md-1 text-md-end">
      <button id="addButton" class="btn btn-primary" (click)="openForm()">
        <i class="fa fa-plus me-2"></i> Add
      </button>
    </div>
  </div>
</div>

<!-- Dynamically render the form -->
<div *ngIf="isFormVisibleADD">
  <app-country-edit (closeFormEvent)="closeForm()" #countryEditComponent></app-country-edit>
</div>
<!--Table-->
<div class="container-fluid">
    <div class="panel panel-default rounded border border-secondary"> <!-- Using Bootstrap border classes -->
      <div class="panel-body p-3">
        <form [formGroup]="applyForm1" (ngSubmit)="searchApplication()">
          <div class="row">
            <!-- CountryId Field -->
            <div class="form-group col-sm-2">
              <label for="CountryId">Country Id</label>
            </div>
            <div class="form-group col-sm-2">
              <input type="number" class="form-control" id="CountryId" placeholder="Country Id" name="CountryId" formControlName="homeCountryId" [(ngModel)]="homeCountryId">
            </div>
  
            <!-- CountryName Field -->
            <div class="form-group col-sm-2">
              <label for="CountryName">Country Name</label>
            </div>
            <div class="form-group col-sm-2">
              <input type="text" class="form-control" id="CountryName" placeholder="Country Name" name="CountryName" formControlName="homeCountryName" [(ngModel)]="homeCountryName">
            </div>
  
            <!-- Status Field -->
          <div class="form-group col-sm-2">
            <label for="Status">Status</label>
          </div>
          <div class="form-group col-sm-2">
            <select class="form-control" id="Status" name="Status" (change)="onSelected($event)" [(ngModel)]="selectedValue" formControlName="selectedValue">
              <option value="null">All</option>
              <option value="true">Active</option>
              <option value="false">Disabled</option>
            </select>
          </div>
        </div>
  
          <div class="row mt-3">
            <div class="col-sm-12 text-right">
              <button type="submit" class="btn btn-primary" style="margin-right: 30px;">
                <i class="glyphicon glyphicon-search"></i> Search
              </button>
              <button type="button" class="btn btn-danger" (click)="clearForm()">
                <i class="glyphicon glyphicon-remove"></i> Close
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="container-fluid mt-4" *ngIf="hasSearched">
    <div class="panel panel-default rounded border border-secondary">
      <div class="panel-body p-3">
        <table class="table" *ngIf="isTableVisible && apiResponse && apiResponse.length > 0; else noData">
          <thead>
            <tr>
              <th>#</th>
              <th>Country Id</th>
              <th>Country Name</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Iterate over the response -->
            <tr *ngFor="let item of apiResponse; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.CountryId }}</td>
              <td>{{ item.CountryName }}</td>
              <td>{{item.IsActive}}</td>
              <td>
                <button class="btn btn-primary" (click)="openFormEdit(item)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteForm(item.CountryId)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- Fallback template if no data exists -->
  <ng-template #noData>
    <div class="alert alert-warning" *ngIf="hasSearched">
      No data found
    </div>
  </ng-template>

  <!-- Popup Modal -->
  <div *ngIf="showPopup" class="popup">
    <div class="popup-content">
      <p>{{ popupMessage }}</p>
      <button (click)="closePopup()">Close</button>
    </div>
  </div>
  <!-- Dynamically render the form -->
<div *ngIf="isFormVisible">
    <app-country-edit (closeFormEvent)="closeFormEdit()" #countryEditComponent></app-country-edit>
</div>