body {
    background: #f4f7f8;
}
.custom-card {
    background: linear-gradient(to bottom, #e3fffd, #d9e7ff);
    border-radius: 15px;
    padding: 20px;
}
.reset-card {
    background: linear-gradient(to bottom, #c0e7f0, #a8d8e4);
    border-radius: 15px;
    padding: 30px;
}